@model List<Webb.Views.Domain.Product>
@if (Model.Count > 0)
{
    <table class="table table-striped" width="100">
        <tr class="table-info">
            <th style="text-align:center" width="25%"></th>
            <th style="text-align:center">
                <label asp-for="@Model.FirstOrDefault().ProductName"></label>
            </th>
            <th style="text-align:center">
                <label asp-for="@Model.FirstOrDefault().ProductPrice"></label>
            </th>
            <th style="text-align:center">
                <label asp-for="@Model.FirstOrDefault().Color"></label>
            </th>
            <th style="text-align:center">
                <label asp-for="@Model.FirstOrDefault().Category"></label>
            </th>
            <th style="text-align:center">

            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr style="padding:50px;">
                <td style="text-align:center;">
                    <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@item.ProductId">
                        <img src="~/images/@item.ProductImage" with="25%" style="margin:auto;display:block;border-radius:3px; border:1px solid green;" />
                    </a>
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(m => item.ProductName)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(m => item.ProductPrice)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(m => item.Color)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(m => item.CategoryId)
                </td>
            </tr>
        }
    </table>
}
else
{
    <div>No Product Item added to the Shopping Cart...</div>
}
