@model IEnumerable<Webb.Models.User>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Danh sách quản trị viên và người kiểm duyệt</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Register" asp-controller="Account" class="btn btn-info">Add User</a>
    </div>
</div>
<table class="table-bordered table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                <a class="btn btn-danger" asp-controller="AdminUser" asp-action="Edit" asp-route-id="@item.Id">Edit</a>|

                <a class="btn btn-primary " asp-controller="AdminUser" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>

